<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>JS Drum Kit</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Big Ben</h1>
    <div class="clock">
      <div class="clock-face">
        <div class="hand hour-hand"></div>
          <div class="hand min-hand"></div>
          <div class="hand second-hand"></div>
        </div>
      </div>

  <div class="keys">
    <h2>
    <div data-key="81" class="key">
      <kbd>Q</kbd>
      <span class"sound">snare_s</span>
    </div>

    <div data-key="87" class="key">
      <kbd>W</kbd>
      <span class"sound">snare_m</span>
    </div>

        <div data-key="69" class="key">
          <kbd>E</kbd>
          <span class"sound">snare</span>
        </div>

        <div data-key="82" class="key">
          <kbd>R</kbd>
          <span class"sound">snare2</span>
        </div>

        <div data-key="84" class="key">
          <kbd>T</kbd>
          <span class"sound">clap</span>
        </div>

        <div data-key="89" class="key">
          <kbd>Y</kbd>
          <span class"sound">boom</span>
        </div>

          <div data-key="85" class="key">
            <kbd>U</kbd>
            <span class"sound">kick2</span>
          </div>

            <div data-key="73" class="key">
              <kbd>I</kbd>
              <span class"sound">kick1</span>
            </div>

            <div data-key="79" class="key">
              <kbd>O</kbd>
              <span class"sound">kick_m</span>
            </div>

            <div data-key="80" class="key">
              <kbd>P</kbd>
              <span class"sound">kick_s</span>
            </div>
          </h2>
        </div>


        <div class="keys">
          <h3>
          <div data-key="65" class="key">
            <kbd>A</kbd>
            <span class"sound">rack_s</span>
          </div>

          <div data-key="83" class="key">
            <kbd>S</kbd>
            <span class"sound">rack_m</span>
          </div>

              <div data-key="68" class="key">
                <kbd>D</kbd>
                <span class"sound">rack_1</span>
              </div>

              <div data-key="70" class="key">
                <kbd>F</kbd>
                <span class"sound">rack_2</span>
              </div>

              <div data-key="71" class="key">
                <kbd>G</kbd>
                <span class"sound">boom_2</span>
              </div>

              <div data-key="72" class="key">
                <kbd>H</kbd>
                <span class"sound">floor_2</span>
              </div>

                <div data-key="74" class="key">
                  <kbd>J</kbd>
                  <span class"sound">floor_1</span>
                </div>

                  <div data-key="75" class="key">
                    <kbd>K</kbd>
                    <span class"sound">floor_m</span>
                  </div>

                  <div data-key="76" class="key">
                    <kbd>L</kbd>
                    <span class"sound">floor_s</span>
                  </div>
                </h3>

                <div class="keys">
                  <h4>
                  <div data-key="90" class="key">
                    <kbd>Z</kbd>
                    <span class"sound">hat_open</span>
                  </div>
                  <div data-key="88" class="key">
                    <kbd>X</kbd>
                    <span class"sound">hat_o-s</span>
                  </div>
                  <div data-key="67" class="key">
                    <kbd>C</kbd>
                    <span class"sound">hat_1</span>
                  </div>
                  <div data-key="86" class="key">
                    <kbd>V</kbd>
                    <span class"sound">hat_2</span>
                  </div>
                  <div data-key="66" class="key">
                    <kbd>B</kbd>
                    <span class"sound">swell</span>
                  </div>
                  <div data-key="78" class="key">
                    <kbd>N</kbd>
                    <span class"sound">ride</span>
                  </div>
                  <div data-key="77" class="key">
                    <kbd>M</kbd>
                    <span class"sound">crash</span>
                  </div>
                </h4>

                </div>

                <audio data-key="81" src="sounds/snare/snare-S1.wav"></audio>
                <audio data-key="87" src="sounds/snare/snare-M1.wav"></audio>
                <audio data-key="69" src="sounds/snare/snare-H2.wav"></audio>
                <audio data-key="82" src="sounds/snare/snare-H1.wav"></audio>
                <audio data-key="71" src="sounds/big-boom.wav"></audio>
                <audio data-key="89" src="sounds/boom.wav"></audio>
                <audio data-key="84" src="sounds/clap.wav"></audio>
                <audio data-key="85" src="sounds/kick/kick-H1.wav"></audio>
                <audio data-key="73" src="sounds/kick/kick-H2.wav"></audio>
                <audio data-key="79" src="sounds/kick/kick-M1.wav"></audio>
                <audio data-key="80" src="sounds/kick/kick-S1.wav"></audio>
                <audio data-key="65" src="sounds/toms/rack-S1.wav"></audio>
                <audio data-key="83" src="sounds/toms/rack-M1.wav"></audio>
                <audio data-key="68" src="sounds/toms/rack-H1.wav"></audio>
                <audio data-key="70" src="sounds/toms/rack-H2.wav"></audio>
                <audio data-key="76" src="sounds/toms/floor-S1.wav"></audio>
                <audio data-key="75" src="sounds/toms/floor-M1.wav"></audio>
                <audio data-key="74" src="sounds/toms/floor-H1.wav"></audio>
                <audio data-key="72" src="sounds/toms/floor-H2.wav"></audio>
                <audio data-key="77" src="sounds/cymbals/crash-H1.wav"></audio>
                <audio data-key="78" src="sounds/cymbals/ride-H1.wav"></audio>
                <audio data-key="66" src="sounds/cymbals/swell.wav"></audio>
                <audio data-key="67" src="sounds/hats/closed-1.wav"></audio>
                <audio data-key="86" src="sounds/hats/closed-2.wav"></audio>
                <audio data-key="88" src="sounds/hats/open-close.wav"></audio>
                <audio data-key="90" src="sounds/hats/open.wav"></audio>




  <script>

    function playSound(e) {
    const audio = document.querySelector(`audio[data-key="${e.keyCode}"]`);
    const key = document.querySelector(`.key[data-key="${e.keyCode}"]`);
    console.log(audio);
    if(!audio) return; // stops the function from running
    audio.currentTime = 0; // rewinds to the start
    audio.play();
    key.classList.add('playing');
   };
   function removeTransition(e) {
     if(e.propertyName !== 'transform') return;
     this.classList.remove('playing')
   };
   window.addEventListener('keydown', playSound);
   const keys = document.querySelectorAll('.key');
   keys.forEach(key => key.addEventListener('transitionend', removeTransition));

 const secondHand = document.querySelector('.second-hand');
 const minsHand = document.querySelector('.min-hand');
 const hoursHand = document.querySelector('.hour-hand');
   function setDate() {
     const now = new Date();
     const seconds = now.getSeconds();
     const secondsDegrees = ((seconds / 60) * 360) + 90;
    secondHand.style.transform = `rotate(${secondsDegrees}deg)`;

    const mins = now.getMinutes();
    const minsDegrees = ((mins / 60) * 360) + 90;
     minsHand.style.transform = `rotate(${minsDegrees}deg)`;

    const hours = now.getMinutes();
    const hoursDegrees = ((mins / 12) * 360) + 90;
     hoursHand.style.transform = `rotate(${hoursDegrees}deg)`;
 }

   setInterval(setDate, 1000);

</script>

</body>
</html>
